<mat-toolbar color="primary"> Clima App </mat-toolbar>
<div class="conteudo">
  <div class="flex-row">
    <mat-form-field class="mr">
      <mat-label>Selecione o Pais</mat-label>
      <mat-select [formControl]="paisForm">
        <mat-option *ngFor="let pais of paises" [value]="pais">
          {{ pais.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Selecione a cidade</mat-label>
      <mat-select [formControl]="cidadeForm">
        <mat-option *ngFor="let cidade of cidades$ | async" [value]="cidade">
          {{ cidade }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <router-outlet></router-outlet>
</div>
